/* variables
   ----------------------------------------------------------------- */

// color
$c-white: #ffffff;
$c-black: #000000;

$c-blue-1: #1e4d9c;
$c-blue-2: #5b99d1;
$c-blue-3: #e7f0f7;

$c-gray: gray;

//  fontfamily
$base-font-family: 'Noto Sans JP', sans-serif;
$second-font-family: 'Shippori Mincho', serif;
$special-font-family: 'Hina Mincho', serif;

// weight
$w-ligt: 300;
$w-Regular: 400;
$w-bold: 700;

// contentWidht
$contentwidth-right: 1400px;
$contentwidth-wide: 1400px;
$contentwidth-midle: 960px;
$contentwidth-narrow: 850px;

// header-nav-height
$h-nav-sp: 90px;
$h-nav-pc: 123px;

$mt-section-pc: 100px;
