extends _layout.pug

block locals
  -var title = '3D GLAPHIC SLIDER';
  
block content
  main.l-container
    section.p-slider.p-slider--1
      .p-slider.js-slider
          .p-slider__inner.js-slider__inner
          nav.p-slider__bullet.c-bullet.js-bullets
            ul.c-bullet__lists
              li.c-bullet__item
                span.c-bullet__button.js-bullet(data-slide="0")
              li.c-bullet__item
                span.c-bullet__button.js-bullet(data-slide="1")
              li.c-bullet__item
                span.c-bullet__button.js-bullet(data-slide="2")
              li.c-bullet__item
                span.c-bullet__button.js-bullet(data-slide="3")
          .p-slider__indicator.c-indicator.js-indicator 
            .c-indicator__inner
    section.p-slider.p-slider--2
      .p-slider.js-slider2
          .p-slider__inner.js-slider__inner
          nav.p-slider__bullet.c-bullet.js-bullets
            ul.c-bullet__lists
              li.c-bullet__item
                span.c-bullet__button.js-bullet(data-slide="0")
              li.c-bullet__item
                span.c-bullet__button.js-bullet(data-slide="1")
              li.c-bullet__item
                span.c-bullet__button.js-bullet(data-slide="2")
              li.c-bullet__item
                span.c-bullet__button.js-bullet(data-slide="3")
    section.p-slider.p-slider--3
      .p-slider.js-slider3
          .p-slider__inner.js-slider__inner
          nav.p-slider__bullet.c-bullet.js-bullets
            ul.c-bullet__lists
              li.c-bullet__item
                span.c-bullet__button.js-bullet(data-slide="0")
              li.c-bullet__item
                span.c-bullet__button.js-bullet(data-slide="1")
              li.c-bullet__item
                span.c-bullet__button.js-bullet(data-slide="2")
              li.c-bullet__item
                span.c-bullet__button.js-bullet(data-slide="3")